
.notification {
	position: fixed;
	top: 0;
	right: 0;
	background-color: lightblue;
	padding: 10px;
  }
  
  .ball {
	position: absolute;
	border-radius: 50%;
	background-color: #0095DD;
  }
  
  .paddle {
	position: absolute;
	background-color: #0095DD;
  }
  
  .score {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: #000;
	font-size: 20px;
	font-weight: bold;
  }
  
  .btn {
	height: 25px;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .field { 
	position: absolute;
	height: 600px;
	width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #808080;
  }